{
  "extends": "airbnb-base",
  "rules": {
    "indent": 0,
    "linebreak-style": 0,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "object-curly-spacing": [2, "always"],
    "padded-blocks": 0,
    "new-cap": [2, {"capIsNewExceptions": ["Deferred"]}],
    "space-before-function-paren": [2, "always"],
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-example": 1,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1
  }
}
